<h1>New Place</h1>

<%= form_with model: @place do |form| %>
  <div class="mb-3">
    <div class="col col-sm-12">
      <%= form.label "name", class: "form-label" %>
    </div>
    <div class="col col-sm-5">
      <%= form.text_field "name", class: "form-control" %>
    </div>
  </div>
 
  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>